:root {
  --basic-light-white: #FFFFFF;
  --basic-white: #F2F2F2;
  --basic-dark-white: #EBEBEB;
  --basic-dark-white2: #EEEEEE;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-light-gray: #BDBBBC;
  --basic-light-gray2: #E5E5E5;
  --basic-gray: #A9A9A9;
  --basic-dark-gray: #CACACA;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-light-black: #6A6A6A;
  --basic-light-black2: #666666;
  --basic-black: #333333;
  --basic-dark-black: #000000;
  --basic-dark-black2: #231F20;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header-logo {
  width: 138px;
  height: 70px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.main-navigation-wrapper .container {
  justify-content: space-between;
}

.main-navigation {
  line-height: 20px;
  color: var(--basic-dark-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper {
  background-color: var(--basic-light-white);
  width: 100%;
}

.site-navigation {
  min-height: 56px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a {
  color: var(--basic-dark-black);
  display: block;
  padding: 14px 72px 16px 73px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-light-brown);
}

.sedona-image {
  width: 457px;
  height: 351px;
  padding-top: 77px;
  padding-right: 372px;
  padding-bottom: 81px;
  padding-left: 371px;
  background-image: url(../img/intro-mask.svg),
  url(../img/main-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom, center;
}

.sedona {
  
  text-align: center;
  line-height: 21px;
  grid-template-columns: 1fr;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column
}

.sedona-description {
  margin: 0px;
  color: var(--basic-dark-black);
  font-size: 21px;
  padding-top: 43px;
  
  max-width: 470px;
  min-height: 80px;
}

.sedona-description-text {
  padding-top: 17px;
  padding-bottom: 51px;
  margin: 0px;
}

.reasons-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.reason {
  color: var(--basic-light-white);
  background-color: var(--basic-light-blue);
  text-align: center;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
}

.resons-text-h3-first {
  max-width: 122px;
  padding-left: 139px;
  padding-right: 139px;
  padding-top: 47px;
  padding-bottom: 25px;
  margin: 0px;
}

.resons-text-h3-second {
  max-width: 151px;
  padding-left: 126px;
  padding-right: 125px;
  padding-top: 47px;
  padding-bottom: 25px;
  margin: 0px;
}

.reson-text-p-first::before {
  display: block;
  margin-bottom: 23px;
  padding: 0;
  content: "—№1—";
  text-align: center;
}

.reson-text-p-second::before {
  display: block;
  margin-bottom: 23px;
  padding: 0;
  content: "—№2—";
  text-align: center;
}

.reson-text-p-first {
  max-width: 300px;
  padding-bottom: 49px;
  padding-left: 51px;
  padding-right: 50px;
  margin: 0px;
}

.reson-text-p-second {
  max-width: 302px;
  padding-bottom: 51px;
  padding-left: 51px;
  padding-right: 50px;
  margin: 0px;
}

.photo-sedona img{
  display: block;
}

.text-h3 {
  font-size: 21px;
  margin: 0px;
}

.about-sedona {
  text-align: center;
  list-style: none;
  line-height: 21px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px;
}

.about-sedona h3 {
  color: var(--basic-dark-black);
}

.about-sedona-svg {
  padding-top: 60px;
  padding-bottom: 28px;
}

.about-sedona-p {
  margin: 0px;
  padding-top:25px;
  padding-bottom: 82px;
}

.resons-third-fourth-fifth-list {
  padding: 0px;
  background-color: var(--basic-dark-white2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.resons-third-fourth-fifth {
  text-align: center;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resons-h3-third {
  max-width: 119px;
}

.resons-text-p-third::before,
.resons-text-p-fourth::before,
.resons-text-p-fifth::before {
  display: block;
  margin-bottom: 23px;
  padding: 0;
  
  text-align: center;
}

.resons-text-p-third::before {
  content: "—№3—";
}

.resons-text-p-fourth::before {
  content: "—№4—";
}

.resons-text-p-fifth::before {
  content: "—№5—";
}

.resons-h3-fourth {
  max-width: 99px;
}

.resons-h3-fifth {
  max-width: 98px;
}

.resons-text-p-third {
  max-width: 208px;
}

.resons-text-p-fourth {
  max-width: 261px;
}

.resons-text-p-fifth {
  max-width: 247px;
}

.resons-h3 {
  margin: 0px;
  padding-top: 47px;
  padding-bottom: 25px;
}

.resons-text-p {
  margin: 0px;
  padding-bottom: 54px;
}

.alleged-dates {
  text-align: center;
  line-height: 24px;
  padding-top: 58px;
}

.alleged-dates-text {
  min-height: 150px;
  max-width: 435px;
  padding-left: 383px;
  padding-right: 382px;
}

.interested-in {
  font-size: 30px;
  font-weight: bold;
  color: var(--basic-dark-black);
}

.button-brown {
  font: inherit;
  text-align: center;
  color: var(--basic-light-white);
  text-transform: uppercase;
  background-color: var(--basic-light-brown);
  border: none;
}

.button-interested-in {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 30px 125px;
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--basic-brown);
}

.button-brown:active {
  background-color: var(--basic-dark-brown);
}

.date-form {
  font-weight: 700;
  line-height: 26px;
}

.date-form input[type="text"],
.date-form input[type="number"] {
  font: inherit;
  color: var(--basic-dark-black);
  text-transform: uppercase;
}

.date-item {
  margin: 30px 0;
}

.date-item input {
  font: inherit;
  background-color: var(--basic-white);
}

.date-item input:hover {
  background-color: var(--basic-dark-white);
}

.date-item input:focus {
  background-color: transparent;
  border: 2px solid var(--basic-light-gray2);
}

.button-light-blue {
  font: inherit;
  text-align: center;
  color: var(--basic-light-white);
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
}

.button-light-blue:hover,
.button-light-blue:focus {
  background-color: var(--basic-blue);
}

.button-light-blue:active {
  background-color: var(--basic-dark-blue);
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.info {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 36px;
  padding-left: 111px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-dark-black);
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.octothorpe {
  padding-bottom: 9px;
}

.info a {
  color: var(--basic-dark-black);
}

.social-list {
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: center;
  padding-bottom: 36px;
  padding-top: 36px;
}

.social-item {
  font: inherit;
  text-align: center;
  color: var(--basic-light-white);
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
  width: 46px;
  height: 48px;
  margin: 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item:hover,
.social-item:focus{
  background-color: var(--basic-blue);
}

.social-item:active {
  background-color: var(--basic-dark-blue);
}

.logo-academy {
  width: 115px; 
  height: 41px;
  fill: var(--basic-dark-black2);
}

.copyright {
  display: flex;
  margin: 0;
  justify-self: end;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.website-by {
  margin: 0px;
  padding-top: 49px;
  padding-bottom: 45px;
  padding-right: 8px;
}

.htmla-logo {
  padding-top: 37px;
  padding-bottom: 35px;
  padding-right: 138px;
}

.logo-academy:hover,
.logo-academy:focus {
  fill: var(--basic-light-blue);
}

.logo-academy:active { 
  fill: var(--basic-light-gray);
}

.calendar {
  fill: var(--basic-gray);
}

.calendar:hover,
.calendar:focus {
  fill: var(--basic-dark-black);
}

.calendar:active {
  fill: var(--basic-light-blue);
}

.criterion {
  color: var(--basic-light-white); 
  background-image: url(../img/background-catalog.jpg);
  background-color: var(--basic-light-blue);
  line-height: 21px;
}

.form-criterion{
  display: grid;
  grid-template-columns: 250px 250px 1fr 340px;
}

.cost-per-day {
  grid-column: 4/5;
}

.criterion-type {
  font-size: 16px;
  font-weight: 700;
}

.criterion-checkboxes {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.criterion-checkbox{
  font-size: 14px;
  font-weight: 400;
}

.search-filters{
  display: flex;
  justify-content: space-between;
  
}

.search {
  display: flex;
  align-items: center;
}

.button-white {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-light-white);
  background-color: transparent;
  border: 2px solid var(--basic-light-white);
}

.button-white:hover,
.button-white:focus {
  background-color: var(--basic-light-white);
  color: var(--basic-dark-black);
  border: 2px solid var(--basic-light-white);
}

.found {
  color: var(--basic-dark-black);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sorting {
  color: var(--basic-dark-black);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.filters {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.filters a {
  color: var(--basic-light-gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px dashed var(--basic-light-blue);
}

.filters a:hover,
.filters a:focus {
  color: var(--basic-light-blue);
}

.filters a:active {
  color: var(--basic-dark-black);
  border-bottom: none;
}

.icon-up-down {
  fill: var(--basic-dark-gray);
  /* background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  width: 11px;
  height: 10px; */
}

.icon-up-down:hover,
.icon-up-down:focus {
  fill: var(--basic-dark-black);
}

.icon-up-down:active {
  fill: var(--basic-light-blue);
}

.hotels-selection {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.hotel {
  display: grid;
  grid-template-columns: 134px 1fr 127px;
  grid-template-rows: 1fr 1fr min-content;
}

.hotel-image {
  grid-row: 1 / -1;
}

.hotel-main-description {
  grid-row: 1/4;
}

.main-description {
  margin-left: 29px;
  margin-right: 400px;
  display: grid;
  grid-template-columns: 110px 142px;
  grid-template-rows: 26px 1fr min-content;
}

.hotel-name {
  color: var(--basic-dark-black);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0px;
  grid-column: 1/3;
}

.hotel-description {
  color: var(--basic-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.stars {
  grid-column: 4/5;
  grid-row: 1/2;
}

.rating {
  color: var(--basic-light-black2);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background-color: var(--basic-white);
  grid-column: 4/5;
  grid-row: 3/4;
}
