:root {
  --basic-light-white: #FFFFFF;
  --basic-white: #F2F2F2;
  --basic-dark-white: #EBEBEB;
  --basic-dark-white2: #EEEEEE;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-light-gray: #BDBBBC;
  --basic-light-gray2: #E5E5E5;
  --basic-gray: #A9A9A9;
  --basic-dark-gray: #CACACA;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-light-black: #6A6A6A;
  --basic-light-black2: #666666;
  --basic-black: #333333;
  --basic-dark-black: #000000;
  --basic-dark-black2: #231F20;
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
  line-height: 20px;
  color: var(--basic-dark-black);
}

.main-navigation-wrapper {
  background-color: var(--basic-light-white);
}

.site-navigation {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.site-navigation a {
  color: var(--basic-dark-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-light-brown);
}

.sedona {
  text-align: center;
  line-height: 21px;
}

.sedona-description {
  color: var(--basic-dark-black);
  font-size: 21px;
}

.reasons {
  list-style: none;
}

.reason {
  color: var(--basic-light-white);
  background-color: var(--basic-light-blue);
  text-align: center;
  line-height: 21px;
}

.text-h3 {
  font-size: 21px;
}

.about-sedona {
  text-align: center;
  list-style: none;
  line-height: 21px;
}

.about-sedona h3 {
  color: var(--basic-dark-black);
}

.resons-third-fourth-fifth {
  background-color: var(--basic-dark-white2);
  text-align: center;
  line-height: 21px;
}

.alleged-dates {
  text-align: center;
  line-height: 24px;
}

.interested-in {
  font-size: 30px;
  font-weight: bold;
  color: var(--basic-dark-black);
}

.button-brown {
  font: inherit;
  text-align: center;
  color: var(--basic-light-white);
  
  text-transform: uppercase;
  background-color: var(--basic-light-brown);
  border: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--basic-brown);
}

.button-brown:active {
  background-color: var(--basic-dark-brown);
}

.date-form {
  font-weight: 700;
  line-height: 26px;
}

.date-form input[type="text"],
.date-form input[type="number"] {
  font: inherit;
  color: var(--basic-dark-black);
  text-transform: uppercase;
}

.date-item input {
  font: inherit;
  background-color: var(--basic-white);
}

.date-item input:hover {
  background-color: var(--basic-dark-white);
}

.date-item input:focus {
  background-color: transparent;
  border: 2px solid var(--basic-light-gray2);
}

.button-light-blue {
  font: inherit;
  text-align: center;
  color: var(--basic-light-white);
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
}

.button-light-blue:hover,
.button-light-blue:focus {
  background-color: var(--basic-blue);
}

.button-light-blue:active {
  background-color: var(--basic-dark-blue);
}

.info {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-dark-black);
}

.info a {
  color: var(--basic-dark-black);
}

.social-item {
  font: inherit;
  text-align: center;
  color: var(--basic-light-white);
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
}

.social-item:hover,
.social-item:focus{
  background-color: var(--basic-blue);
}

.social-item:active {
  background-color: var(--basic-dark-blue);
}

.logo-academy {
  width: 115px; 
  height: 41px;
  fill: var(--basic-dark-black2);
}

.logo-academy:hover,
.logo-academy:focus {
  fill: var(--basic-light-blue);
}

.logo-academy:active { 
  fill: var(--basic-light-gray);
}

.calendar {
  fill: var(--basic-gray);
}

.calendar:hover,
.calendar:focus {
  fill: var(--basic-dark-black);
}

.calendar:active {
  fill: var(--basic-light-blue);
}